input[type=text] {
  background-color: orange;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

img{
    width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
